html { background: #A79F88; }
body { background: #DBCCB8; width: 600px; margin: 0 auto; padding: 2rem;
  
h2 { font-family: 'Special Elite', cursive;color:#63010E }


body{
  
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.contact-container{
  background:#DCC7AC;
  padding:30px;
  border-radius:20px;
  width:520px;
  
}

.contact-container h2{
  text-align:center;
}

form{
  display:flex;
  flex-direction:column;
}

input, textarea{
  margin:10px 0;
  padding:10px;
  border:1px solid #ccc;
  border-radius:5px;
  font-size:16px;
}

textarea{
  height:120px;
  resize:none;
}

button{
  padding:14px;
  background:#A68160;
  color:#63010E;
  border:none;
  border-radius:5px;
  font-size:18px;
  font-weight: bold;
  cursor:pointer;
}

button:hover{
  background:#DBCCB8;
}
.home-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #A68160; 
  color:#63010E; 
  font-size: 16px;
  font-weight: bold;
  text-decoration: none; 
  border-radius: 8px; 
  transition: background-color 0.3s, transform 0.2s; 
}

.home-button:hover {
  background-color: #DBCCB8; 
  transform: scale(1.05); 
}