html { background: #F5E6CC;}
body { background: #6B8170; width: 800px; margin: 0 auto; padding: 1rem;
  
 

body {
  margin: 0;
  font-family: Arial, bold sans-serif;
  background: linear-gradient(135deg, #ffecd2, #fcb69f);
  color: #135deg;
}

.navbar {
  display: flex;
  padding: 20px 150px;
  font-size: 20px;
  background: #6B8170;
  backdrop-filter: blur(60px);
  position: sticky;
  top: 0;
}

.navbar a {
  text-decoration: none;
  color: black;
  display: inline-block;

}
.navbar nav {
  display: flex;
  gap: 16px;
}
.navbar a:hover {
  color: #ff9900;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.nav-links a {
  margin-left: 40px;
  text-decoration: none;
  color: #ff5e78;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  color: white
}

.hero h1 {
  font-size: 50px;
  margin: 0;
  color: white;
}

.hero p {
  font-size: 18px;
  margin-top: 10px;
}

.hero button {
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  background: #ff5e78;
  color: white;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}

.hero button:hover {
  background: #ff2e63;
}


.section {
  padding: 40px;
  text-align: center;
}

.section h2 {
  font-size: 30px;
  color: white;
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  transition: transform 0.3s;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}

.card:hover {
  transform: scale(1.05);
}

.emoji {
  font-size: 40px;
}


footer {
  text-align: center;
  padding: 20px;
  background:  #6B8170;
  margin-top: 40px;


}