
body {
  background: #6B8170;
  margin: 0;
  padding: 1rem;
}

.home-button {
  display: inline-block;
  margin: 20px;
  text-decoration: none;
  background: #D26C3C;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
}

/* Title */
h1 {
  text-align: center;
  padding: 20px;
  color: white;
}

/* Navigation */
.nav {
  text-align: center;
  padding: 10px;
  background: #007BFF;
}

.nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

/* Banner */
.banner {
  background: #59070E;
  color: white;
  text-align: center;
  padding: 0 rem 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}
.banner {
  font-size: 1rem; /* bigger header */


}

.promotions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10rem;
  padding: 20px;
}

/* Cards */
.promo-card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Images */
.promo-card img {
  width: 100%;
  height: auto; 
  border-radius: 8px;
}

/* Text */
.promo-card h3 {
  margin: 10px 0;
  color: #333;
}

.discount {
  color: #8C0327;
  font-size: 18px;
  margin: 5px 0;
  font-weight: bold;
}

/* Button */
.promo-card button {
  padding: 10px;
  border: none;
  background: #D26C3C;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; 
}

.banner .home-button {
  position: absolute;
  left: 15px;
}
.promo-card button:hover {
  background: #0056b3;
}

@media (max-width: 600px) {
  .banner {
    font-size: 2rem;
    padding: 25px 10px;
  }

  .nav a {
    display: block;
    margin: 5px 0;
  }

  .home-button {
    display: block;
    text-align: center;
    margin: 10px auto;
  }
}

@media (max-width: 600px) {
  .banner .home-button {
    position: static;
    margin-bottom: 10px;
  }

  .banner {
    flex-direction: column;
  }
}